<!DOCTYPE html>
<html>
<head>
  <title>OnlinePetitions</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <nav class="navbar navbar-default">
    <p class="navbar-text"><a href="/">Онлайн петиции нашего района</a></p>
    <span class="pull-right navbar-text">
    <% if current_user %>
      <%= current_user.email %>&nbsp;
      <%= link_to "(Выйти)", logout_path %>
      <%= link_to "Админ", admin_root_path if current_user.admin? %>
    <% else %>
      <%= link_to "Зарегистрироваться", signup_path %> |
      <%= link_to "Войти", login_path %>
    <% end %>
    </span>
  </nav>

  <ul class="nav nav-pills nav-stacked pull-right">
    <li><%= link_to "Все петиции", petitions_path(all: 'true') %></li>
    <li><%= link_to "Создать петицию", current_user ? new_petition_path : login_path %></li>
    <% if current_user %><li><a href="<%= petitions_path(my: 'true') %>">Мои петиции</a></li><% end %>
  </ul>

  <div class="col-lg-10">
    <%= flash_messages %>
    <%= yield %>
  </div>


</div>

</body>
</html>
