<div class="col-lg-10">
  <h1>Регистрация</h1>

  <%= bootstrap_form_for(@user, html: { class: 'col-lg-5' }) do |f| %>
      <%= f.email_field :email %>
      <%= f.text_field :first_name, label: "Имя" %>
      <%= f.text_field :last_name, label: "Фамилия" %>
      <%= f.password_field :password, label: "Пароль" %>
      <%= f.password_field :password_confirmation, label: "Подтверждение пароля" %>
      <%= f.submit "Зарегестрироваться", :class => 'btn btn-default btn-primary' %>
  <% end %>
</div>